---
import MainLayout from "../layouts/MainLayout.astro";

const identity = {
  firstName: "Craig",
  country: "USA",
  occupation: "Software Engineer",
};

const skills = ["HTML", "CSS", "Javascript", "React", "Astro", "Arguing"];
const happy = true;
const finished = false;
const goal = 2;
const skillColor = "navy";
---

<MainLayout pageTitle="About Me">
  <h2>... and my new Astro site!</h2>

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}
    </li>

    <li class="hobbies"></li>
  </ul>
  <p>Some of my skills are:</p>
  <ul class="skill-list">
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  {happy && <p>Me am ver Happy!</p>}
  {finished && <p>I am Finished!</p>}
  {
    goal === 2 ? (
      <p>My goal is to finish in 2 days</p>
    ) : (
      <p>My goal is different</p>
    )
  }
</MainLayout>

<script>
  const hobbies = ["weightlifting", "dancing", "reading", "writing"].sort(
    () => Math.random() - 0.7
  );

  document.querySelector(".hobbies").innerHTML = `Two of my favorite hobbies are
                <span class="hobby astro-KH7BTL4R">${hobbies[0]}</span> and <span class="hobby astro-KH7BTL4R">${hobbies[1]}</span>`;
</script>
<style define:vars={{ skillColor }}>
  .skill-list {
    display: flex;
    flex-wrap: wrap;
  }
  .skill {
    list-style: none;
    margin: 0.75rem;
    font-weight: 500;
    color: var(--skillColor);
  }
  .hobbies .hobby {
    color: red;
  }
</style>
